a {
	text-decoration: none;
	font-size: small;
	}

.header {
	display: flex;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	    padding: 6px;
	}

.top_bar {
	padding: 5px;
	color: black;
}

.container {
	height: 600px;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.middle {
	-webkit-align-self: center;
	        align-self: center;
}
.search {
	-webkit-align-self: center;
	        align-self: center;
}

[type="search"] {
	min-width: 450px;
	line-height: 30px;
}

.submit {
	margin-top: 20px;
	}

.logo {
	-webkit-align-self: center;
	align-self: center;
}

.footer {
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	    -webkit-flex-direction: row;
	        -ms-flex-direction: row;
	            flex-direction: row;
	background: #f2f2f2;
	height: 5vh;
}

.l_bar, .r_bar {
	display: flex;
	-webkit-align-items: center;
	        align-items: center;
	    margin: 5px;
}

.footer_links {
	color: black;
	padding: 5px;
}

.wrapper {
	min-height: calc(100vh - 5vh);
}


